<?xml version="1.0"?>
<!-- webconfig for store -->
<configuration>
  <system.web>
    <authorization>
      <allow roles="Store Manager"/>
      <allow roles="Store Supervisor"/>
      <allow roles="Acting Store Supervisor"/>
      <allow roles="Store Clerk" />
      <deny users="*"/>
    </authorization>
  </system.web>
  <location path="CreateNewOrder.aspx">
    <system.web>
      <authorization>
        <allow roles="Store Clerk" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="PendingPO.aspx">
    <system.web>
      <authorization>
        <allow roles="Store Manager"/>
        <allow roles="Store Supervisor"/>
        <allow roles="Acting Store Supervisor"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="PendingPODetails.aspx">
    <system.web>
      <authorization>
        <allow roles="Store Manager"/>
        <allow roles="Store Supervisor"/>
        <allow roles="Acting Store Supervisor"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="StoreEmployeeList.aspx">
    <system.web>
      <authorization>
        <allow roles="Store Manager"/>
        <allow roles="Store Supervisor"/>
        <allow roles="Acting Store Supervisor"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="SupplierList.aspx">
    <system.web>
      <authorization>
        <allow roles="Store Manager"/>
        <allow roles="Store Supervisor"/>
        <allow roles="Acting Store Supervisor"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="AssigningAuthorityStoreDept.aspx">
    <system.web>
      <authorization>
        <allow roles="Store Supervisor"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="AdjustmentByStoreSupervisor.aspx">
    <system.web>
      <authorization>
        <allow roles="Store Supervisor"/>
        <allow roles="Acting Store Supervisor"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="AdjustmentByStoreManager.aspx">
    <system.web>
      <authorization>
        <allow roles="Store Manager"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="2AllocationPage.aspx">
    <system.web>
      <authorization>
        <allow roles="Store Clerk"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ChargeBackPage.aspx">
    <system.web>
      <authorization>
        <allow roles="Store Clerk"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="DisbursementFormPage.aspx">
    <system.web>
      <authorization>
        <allow roles="Store Clerk"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="DisbursementGenerationPage.aspx">
    <system.web>
      <authorization>
        <allow roles="Store Clerk"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="RequisitionList.aspx">
    <system.web>
      <authorization>
        <allow roles="Store Clerk"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="RetrievalPage.aspx">
    <system.web>
      <authorization>
        <allow roles="Store Clerk"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
</configuration>
