<?xml version="1.0"?>
<!-- webconfig for store -->
<configuration>
  <system.web>
    <authorization>
      <allow roles="Store Manager"/>
      <allow roles="Store Supervisor"/>
      <allow roles="Store Clerk" />
      <deny users="*"/>
    </authorization>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Home.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <location path="CreateNewOrder.aspx">
    <system.web>
      <authorization>
        <allow roles="Store Clerk" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="2AllocationPage.aspx">
    <system.web>
      <authorization>
        <allow roles="Store Clerk"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ChargeBackPage.aspx">
    <system.web>
      <authorization>
        <allow roles="Store Clerk"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="DisbursementFormPage.aspx">
    <system.web>
      <authorization>
        <allow roles="Store Clerk"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="DisbursementGenerationPage.aspx">
    <system.web>
      <authorization>
        <allow roles="Store Clerk"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="RequisitionList.aspx">
    <system.web>
      <authorization>
        <allow roles="Store Clerk"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="RetrievalPage.aspx">
    <system.web>
      <authorization>
        <allow roles="Store Clerk"/>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
</configuration>
