<?xml version="1.0"?>
<!-- webconfig for department -->
<configuration>
  <system.web>
    <authorization>
      <allow roles="Department Head"/>
      <allow roles="Employee"/>
      <deny users="*"/>
    </authorization>
  </system.web>
  <location path="AddAuthorise.aspx">
    <system.web>
      <authorization>
        <allow roles="Department Head" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="AuthoriseStaff.aspx">
    <system.web>
      <authorization>
        <allow roles="Department Head" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ApproveRequest.aspx">
    <system.web>
      <authorization>
        <allow roles="Department Head" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="CreateRequest.aspx">
    <system.web>
      <authorization>
        <allow roles="Employee" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>  
  <location path="ItemDetails.aspx">
    <system.web>
      <authorization>
        <allow roles="Employee" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="UpdateCollectionPoint.aspx">
    <system.web>
      <authorization>
        <allow roles="Employee" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>
